.m-top-24 {
  margin-top: 15px;
  width: 90%;
}

mat-form-field {
  width: 90%;
  margin: 0 auto;
}

mat-icon {
  vertical-align: middle;
}

.full-page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;

  .login-outer-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    overflow: auto;

    .login-bg-container {
      background-image: url('^assets/images/foto_login.png');
      width: calc(100% - 640px);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      z-index: 1;
      
    }

    .login-bg-container::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, .1);
      opacity: .8;
    }

    .title-login{
      text-align: center;
      width: 70%;
      padding: 15px 0;
      color: white;
    
      text-align: center;
      justify-content: center;
      align-items: center;
      align-self: center;
      align-content: center;
      font-size: 35px;
      font-weight: 700;
      margin-bottom: 0;
    }

    .text-login {
      margin-top: 0;
      text-align: center;
      width: 50%;
      color: white;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      align-self: center;
      align-content: center;
      font-size: 16px;
      font-weight: 500;
      
    }

    .wrapp-login {
      width: 640px;
      min-height: 100%;

      .login-inner-container {
        width: 100%;

        form {
          padding: 16px;
          min-height: 500px;
          min-width: 368px;
        }

        .logo-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-bottom: 20px;
      
        }

       }

        .session-expired {
          text-align: center;
        }

        .login-title-container {
          margin-top: 70px;
        }

        button {
          width: 100%;
          margin: 24px 0;
          height: 40px; /* Aumenta el tamaño de los botones */
          font-size: 16px;
        }

        .dark_text {
          color: #c5c5c5;
          font-size: 9pt;
        }

        .login_info,
        .title_text {
          font-size: 14px;
        }

        .title_text {
          font-weight: 600;
        }

        .text {
          font-size: 12px;
          font-weight: normal;
        }
      }
    }

   

  }

  .register-section{

    width: 368px;
  }

  .register-button{
    width: 100%;
    margin: 24px 0;
    height: 40px; /* Aumenta el tamaño de los botones */
    font-size: 16px;

  }

  .footer-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;


    div {
      height: 40px;
      margin-right: 0px;

      span {
        font-size: 12px;
        padding-right: 4px;
      }
    }

  }

@media(max-width:576px) {
  .full-page {
    .login-outer-container {
      .wrapp-login {
        width: 100%;
        min-height: 100%;

        .login-inner-container {
          width: 100%;

          form {
            min-width: auto;
            min-height: auto;
          }
        }
      }
    }

    .footer-container {
      div {
        margin: 0 auto;
        place-content: center !important;
      }
    }
  }
}

