/*.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    Asegura que el contenedor ocupe toda la altura de la ventana 
}

.box {
    width: 600px;
    height: 500px;
    padding: 90px 50px;
    background-color: white;
    position: relative;
    border-radius: 5px;
    box-shadow: -10px -10px #997ed7;
}

.head{
    font-family: 'Patua One', sans-serif;
    font-size: 40px;
    color: #341777;
    text-align: center;
}

.li{
    text-align: center;
    font-size: 20px;
    margin-top: -30px;
    margin-bottom: 50px;

}

.logo {
    position: absolute;
    top: 30px;
    left: 60px;
    
}

.sello{
    position: absolute;
    bottom: 20px;
    right: 30px;

}
*/

/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    /* Asegura que el contenedor ocupe toda la altura de la ventana 
} */

.box {
  width: 1000px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box1 {
  width: 350px;
  height: 100%;
  background-color: rgb(29, 5, 99);
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../../../assets/images/sheTravel_register.png);
  background-repeat: no-repeat;
  background-position: center;
}

.text {
  margin-top: 130px !important;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: white;
  line-height: 30px;
}

.box2 {
  width: 650px;
  height: 100%;
  background-color: rgb(210, 190, 250);
  position: absolute;
  right: 0;
  top: 0;
}

o-form {
  margin: 30px;
}

o-text-input,
o-password-input,
o-email-input {
  margin: 5px;
}

.head {
  font-family: "Patua One", sans-serif;
  font-size: 40px;
  color: #341777;
  text-align: center;
}

.li {
  text-align: center;
  font-size: 20px;
  margin-top: -30px;
  margin-bottom: 50px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 60px;
}

.sello {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
