.dialog{
    display: flex;
    flex-direction: column;
    background: url(../../../../assets/images/dialog_profile.png);

}
.text1{
    
    color: rgb(29, 5, 99);
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin:17px;  
    text-align: left;
    width: 350px;
}
.title{
    
    color: rgb(29, 5, 99);
    font-family: 'Patua One', serif;
    font-size: 25px;
    margin: 32px;
}

.send{
    width: 25px; 
    margin-left: 20px;
    margin-bottom: 18px;   
}
o-date-input, o-textarea-input, o-daterange-input{
    margin-bottom: 15px;
    margin-left: 25px;   
}


  


