<!--     ////   WIP composición gráfica  ////     -->
<button mat-flat-button [routerLink]="['../../towns', idtown]">
  <mat-icon>arrow_back_ios_new</mat-icon>
  {{'BACKBTN' | oTranslate}}
</button>



<div class="box">
  <o-form #form service="users" entity="client" keys="id_client" show-header="no" show-header-navigation="no"
    layout-direction="column" (onDataLoaded)="onLoad()" show-header-navigation="yes">
    <o-text-input attr="id_client" sql-type="INTEGER" oHidden></o-text-input>
    <o-text-input attr="id_town" sql-type="INTEGER" oHidden></o-text-input>

    <o-column>
      <div fxLayout="row" fxLayoutGap="25px">
        <o-column fxFlex="40" fxFlex.md="100" class="vertical-margin-10">
          <o-image attr="avatar" label="AVATAR" fxFlex="100" empty-image="assets/images/no-image.png" sql-type="OTHERS"
            show-controls="false" read-only="yes" height="100%"></o-image>
          <!-- <img *ngIf="avatar" class="avatar-image" src="data:image/png;base64,{{ avatar.getValue() }}"> -->
          <!-- <div class="img-container">
              <img src="{{ avatar ? 'data:image/png;base64,' + avatar.getValue() : 'assets/images/no-image.png' }}" alt="Avatar">
            </div> -->

          <!-- Short Desc -->
          <div class="shortDesc-container">
            <o-textarea-input attr="short_desc" label="SHORT_DESC" fxFlex="40" class="form-field" read-only="yes"
              label-visible="false" #shortDescInput oHidden></o-textarea-input>
            <o-row class="shortDesc">"{{ shortDescInput.getValue() }}"</o-row>
          </div>
        </o-column>

        <o-column fxFlex="60" fxFlex.md="100" class="vertical-margin-10">
          <!-- Nombre y Apellidos -->
          <o-text-input attr="name" label="NAME" fxFlex="100" class="form-field" read-only="yes" label-visible="false"
            #nameInput oHidden></o-text-input>
          <o-text-input attr="surname" label="SURNAME" fxFlex="100" class="form-field" read-only="yes"
            label-visible="false" #surnameInput oHidden></o-text-input>
          <o-row class="hostName">{{nameInput.getValue()}} {{surnameInput.getValue()}}</o-row>
          <!-- Ciudad -->
          <o-text-input #town attr="town_name" label="TOWN" fxFlex="100" class="form-field" read-only="yes"
            label-visible="false" #townNameInput oHidden></o-text-input>
          <o-row class="town"><mat-icon>location_on</mat-icon>{{townNameInput.getValue()}}</o-row>
          <!-- Descripción -->
          <o-textarea-input attr="description" label="DESCRIPTION" fxFlex="95" class="form-field" read-only="yes"
            label-visible="false" #longDescInput oHidden></o-textarea-input>
          <o-column class="aboutme" title="ABOUTME" layout-align="start stretch" fxFlex="95">
            <o-row class="longDesc">{{longDescInput.getValue()}}</o-row>
          </o-column>
          <!-- Actividades -->
          <o-column class="activities" title="ACTIVITIES" layout-align="start stretch" fxFlex="95">

            <div class="chips-container" fxLayout="row" fxLayoutGap="8px">
              <div class="activitiesChip" *ngFor="let activity of arrayActivitiesClient">
                {{ activity | oTranslate }}
              </div>
            </div>
          </o-column>
        </o-column>
      </div>
    </o-column>

    <div class="button-contact">
      <button mat-raised-button color="accent" fxFlex="35" (click)="openReservation()">{{ 'CONTACTMSJ' | oTranslate
        }} {{ nameInput.getValue() }}</button>
    </div>

  </o-form>
  <!-- <div class="tape tape-left">
      <img src="assets/images/tape.png" alt="">
    </div>
    <div class="tape tape-right">
      <img src="assets/images/tape2.png" alt="">
    </div> -->
</div>